html{
  background-color: whitesmoke;
}
table{
  height: 200px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border: 1px solid black;
}
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: wheat;
    text-align: center;
    padding: 19px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgba(4, 164, 169, 0.555);
    color: white;
  }

  .bottom {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 22pt;

  }
  
  .bottom a {
    float: initial;
    color: wheat;
    text-align: center;
    padding: 19px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .bottom a:hover {
    background-color: #ddd;
    color: black;
  }



  .Introduction{
    text-align: center;

  }
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 81, 255, 0.301);
  color: rgb(158, 33, 33);
  text-align: center;
  text-decoration: none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.content{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;

}

* {box-sizing:border-box}

.container {
  width: 100%;
  background-color: #ddd; 
}

.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px;
  color: white;
}

.chemistry {
  width: 100%; background-color: #04AA6D;}
.basketball{width: 70%; background-color: #2196F3;} 
.volleyball {width: 60%; background-color: #f44336;} 
.c {width: 65%; background-color: #808080;}
.python {width: 30%; background-color: #a5b41b;}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";  
  color: #FFD700;
  font-weight: bold; 
  display: inline-block; 
  width: 1em;
  margin-left: -1em; 
}

input[type=text],textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}

.containerr {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}